{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="container">
            <h1>Dashboard - {{count}} card(s)</h1>
            <a href="{{ path('logout') }}" class="btn btn-default btn-danger">Logout</a>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Receiver Name</th>
                        <th>Receiver Email</th>
                        <th>Sender Name</th>
                        <th>Sender Email</th>
                        <th>Card Message</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for card in cards%}
                        <tr>
                            <td>{{ card.receiver_name }}</td>
                            <td>{{ card.receiver_email }}</td>
                            <td>{{ card.sender_name }}</td>
                            <td>{{ card.sender_email }}</td>
                            <td>{{ card.message }}</td>
                            <td>{{ card.timestamp|date("d/m/Y") }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}